<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>Home page</title>
  </head>
  <body>
    <div class="container">
      <h2>Welcome to Clock Synchronization Helper Using REST</h1>
      <a class="btn btn-primary btn-lg active" href="/synchronization"
        >Click Here to Synchronize Client Time with Server</a
      >
    </div>
  </body>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"
  ></script>
</html>
